<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% for stu in student_list %}
      <h1>
        {{ stu.name }}
        {{ stu.roll }}
        {{ stu.course }}
      </h1>
    {% endfor %}
    <b><hr /></b>
    {% for stu in object_list %}
      <h1>
        {{ stu.name }}
        {{ stu.roll }}
        {{ stu.course }}
      </h1>
    {% endfor %}
  </body>
</html>
