{% extends 'base.html' %}

{% block main %}
  <div class="container mt-5">
    <h1 class="text-center">Signup Page</h1>
  </div>
  {% if messages %}
    {% for m in messages %}
      <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body">{{ m }}</div>
          <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    {% endfor %}
  {% endif %}

  <div class="container mt-5">
    <form method="post" novalidate class="container col-4 card p-3 mx-auto shadow-lg">
      {% csrf_token %}
      {% for fm in form %}
        {{ fm.label_tag }}
        {{ fm }}
        {{ fm.errors|striptags }}
      {% endfor %}
      <button type="submit" class="btn mt-3 btn-success">SIGN UP</button><br />
      <small>Already have an account. <a href="{% url 'loginpage' %}">Login</a></small>
    </form>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const toastElList = [].slice.call(document.querySelectorAll('.toast'))
      toastElList.map(function (toastEl) {
        const toast = new bootstrap.Toast(toastEl)
        toast.show()
      })
    })
  </script>
{% endblock %}
