{% extends 'base.html' %}

{% block main %}
  <div class="container mt-5">
    <h1 class="text-center">Signup Page</h1>
  </div>

  <!-- ✅ Signup Form -->
  <div class="container mt-5">
    <form method="post" novalidate class="container col-md-4 card p-4 mx-auto shadow-lg">
      {% csrf_token %}
      {% for fm in form %}
        {{ fm.label_tag }}
        {{ fm }}
        {{ fm.errors }}
      {% endfor %}
      <button type="submit" class="btn btn-primary w-100 rounded-pill mt-3 fw-semibold"><i class="bi bi-box-arrow-in-right me-2"></i>SignUp</button>
      <div class="text-center mt-3">
        <small>Already have an account? <a href="{% url 'loginpage' %}">Login</a></small>
      </div>
    </form>
  </div>
{% endblock %}
