<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Information</title>
    <style>
      table,
      th,
      td,
      tr {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <table>
      <h3>Information</h3>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Roll</th>
        <th>City</th>
        <th>Marks</th>
        <th>Passing Year</th>
        <th>Admission Date Time</th>
      </tr>

      {% for data in student %}
        <tr>
          <td>{{ data.id }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.roll }}</td>
          <td>{{ data.city }}</td>
          <td>{{ data.marks }}</td>
          <td>{{ data.pass_date }}</td>
          <td>{{ data.admission_date }}</td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
