{% extends 'base.html' %}

{% block content %}
<h1 style="text-align: center; color: red;">This is form page.</h1><br><br>
<div style="width: 20%; margin: auto">
    <h4>Movie Rating Form</h4>
    <form method="get" action="/about/">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputName" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp" name="name">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" name="email">
        </div>
        <div class="mb-3">
            <select class="form-select" aria-label="Default select example" name="select">
                <option selected>Ratings</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
                <option value="4">Four</option>
                <option value="5">Five</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}