{% extends "base.html" %}

{% block start %}
<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Add Recipe</h1>
        <hr>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Recipe Name</label>
            <input type="text" class="form-control" name="recipe_name" required />
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Recipe Description</label>
            <textarea name="recipe_description" id="" class="form-control" required></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Recipe Image</label>
            <input type="file" class="form-control" name="recipe_image" required />
        </div>
        <button type="submit" class="btn btn-success">Add Recipe</button>
    </form>
    <div class="m-5">
        <div>
            <form class="col-6 mx-auto card p-3 shadow-lg">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Search Recipe</label>
                    <input type="text" class="form-control" name="search_recipe" />
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
</div>

<div class="container mt-5">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Recipe Name</th>
                <th scope="col">Recipe Description</th>
                <th scope="col">Recipe Image</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in recipes %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{i.recipe_name}}</td>
                <td>{{i.recipe_description}}</td>
                <td><img src="/media/{{i.recipe_image}}" style="height: 100px;"></td>
                <td>
                    <a href="/delete_recipe/{{i.id}}/" class="btn btn-danger">Delete</a>
                    <a href="/update_recipe/{{i.id}}/" class="btn btn-success m-2">Update</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock start %}