{% extends 'base.html' %}
{% block start %}
  <div class="container mt-5">
    <form class="container card col-6 p-3 shadow-lg" method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputName" class="form-label">Name</label>
        <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp" name="name" />
      </div>
      <div class="mb-3">
        <label for="exampleInputRoll" class="form-label">Roll</label>
        <input type="number" class="form-control" id="exampleInputRoll" aria-describedby="rollHelp" name="roll" />
      </div>
      <div class="mb-3">
        <label for="exampleInputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="exampleInputAddress" aria-describedby="addressHelp" name="address" />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}
