{% extends 'base.html' %}
{% block start %}
  <h1>This is home page.</h1>

  <div class="container mt-5">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Roll</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
          <tr>
            <th scope="row">{{ student.roll }}</th>
            <td>{{ student.name }}</td>
            <td>{{ student.address }}</td>
            <td>
              <a href="{% url 'delete_student' student.roll %}" class="btn btn-danger">Delete</a>
              <a href="{% url 'add_student' %}" class="btn btn-success">Add</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
