{% extends 'home/base.html' %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  {{ peoples }}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Vote</th>
      </tr>
    </thead>
    <tbody>
      {% for people in peoples %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ people.name }}</td>
          <td>{{ people.age }}</td>
          <td>
            {% if people.age >= 18 %}
              👍
            {% else %}
              👎
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
