{% extends "base.html" %}

{% block start %}
<div class="container mt-5">
    <hr><br>
    <form method="post" enctype="multipart/form-data" class="col-6 mx-auto card p-3 shadow-lg">
        <h1 class="mx-auto">Add Recipe</h1>
        <hr>
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Recipe Name</label>
            <input type="text" class="form-control" name="recipe_name" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Recipe Description</label>
            <textarea class="form-control" name="recipe_description" required></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Recipe Image</label>
            <input type="file" class="form-control" name="recipe_image" required>
        </div>
        <button type="submit" class="btn btn-success">Add Recipe</button>
    </form><br>
    <hr>

    <table class="table table-bordered mt-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Recipe Name</th>
                <th scope="col">Recipe Description</th>
                <th scope="col">Recipe Image</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{recipe.recipe_name}}</td>
                <td>{{recipe.recipe_description}}</td>
                <td><img src="/media/{{recipe.recipe_image}}" style="height: 100px; width: 100px;"></td>
                <td><a href="/delete_recipe/{{recipe.id}}/" class="btn btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table><br>
    <hr>
</div>
{% endblock start %}