{% extends 'core/base.html' %}
{% block title %}
  Generate OR
{% endblock %}
{% block content %}
<div class="center-container">
    <div class="container">
        <h1>Generate OR Code</h1>
        <form action="generate_qr" method="post">
            {% csrf_token %}
            <input type="text" name="mobile_number" placeholder="Enter 10-digit mobile_number" required pattern="[0-9]{10}">
            <input type="text" name="qr_data" placeholder="Enter text to generate OR Code" required>
            <button type="submit">Generate</button>
        </form>
    </div>
</div>
{% endblock %}
