{% extends 'core/base.html' %}
{% block title %}
  Scan OR
{% endblock %}
{% block content %}
<div class="center-container">
    <div class="container">
        <h1>Scan OR Code</h1>
        <form action="scan_qr" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="mobile_number" placeholder="Enter 10-digit mobile_number" required pattern="[0-9]{10}">
            <input type="file" name="qr_image" accept="image/*" id="qr-input">
            <button type="submit">Scan</button>
        </form>
    </div>
</div>
{% endblock %}
