{% extends 'home/base.html' %}

{% block title %}
  Login
{% endblock %}

{% block content %}
  <div class="container mt-3">
    <form class="col-4 card mx-auto p-3 shadow-lg" method="post">
      <h3 class="text-center">Login</h3> <hr />
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="text" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" />
      </div>
      <p>
        Don't have account <a href="{% url 'register' %}">Register</a>
      </p>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
{% endblock %}
